#trt{
    background-color: white;
    height: 30%;
    width: 75%;
    margin-top: 60px;
}
#hh{
   color: #f93d4e;
   font-size: 40px;
}
 #mnb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
  
}
#af{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(172, 170, 170);
} 
#af:hover{
    
Color:
#f93d4e;
}