#ii22{
    height: 150px;
    /* background-color: #728486; */ 
    background-image: linear-gradient(to right, #728486, #c9e9ec);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    align-content: flex-end;
}
#ats22{
    font-family: 'alegreya sans sc', sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 73px;
    Color:#ffffff;
} 


@media (max-width: 575.98px) {
    #ats22{
        font-size: 18px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    #ats22{
        font-size: 18px;
  }


}
@media (min-width: 768px) and (max-width: 991.98px) { 
    #ats22{font-size: 36px;}
  
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
   
 }


@media (min-width: 1200px) { }