#img{
    height:80%;
    /* width:100%; */
  /* background-image: url('is.jpg');
  background-repeat: no-repeat;  */
  /* background-color: #226284; */
  background: linear-gradient(to right, #226284, #6497b1);
     display: flex;
    justify-content: center;
   flex-direction: row;
    align-items:center;
}
#vio{background-color:#F7F8F9;
    width: 175px; 
    height: 42px;
    outline: none;
    border: none;
    border-radius: 4px;
    Color:#151515;
}
#dropdown-basic{
    width: 175px;
    color: #151515;
    background-color: white;
    border: none;
    height: 42px;
    outline: none;
}
#Cruises{
    color: #ffffff;
   font-size: 100px;
   font-weight: 700;
   font-family: 'Alegreya Sans SC', sans-serif;
  line-height:200px; 
 text-align: center;
 margin-top: 20%;

}
#txt{color: #ffffff;
    font-weight: 300;
    font-size: 30px;
    line-height: 20px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
#btn{
    width: 200px;
    height: 50px;
    color: white;
    background-color:#F93D4E;
    border:none;
    outline: none;
    margin-bottom:30px;
}
#btn:hover{
    background-color:#007DFF;
}
/* #se{
    display: flex;
    justify-content: center;
   flex-direction: row;

} */
#voio{
    margin-top:20px;
    padding-bottom: 30px;
    
Color:
#151515;
  
}
#voio1{
    margin-top:10%;
 Color:
#151515; 
   
}

#a:hover{
    background-color:#F93D4E;
}

@media (max-width: 575.98px) { 
    #img{text-align: center;}
    #Cruises{
        font-size: 35px;
    }
    #txt,#se{
        font-size: 20px; 
    }
    #dropdown-basic {
    margin-bottom: 20px;
    }
    #btn {
    margin-top: 20px;
    margin-bottom: 20px;
    }
    #se{
        margin-bottom: 10px;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    #se{
        margin-bottom: 10px;
    }
    #img{text-align: center;}
    #Cruises{
        font-size: 35px;
    }
    #txt,#se,#btn,#xza{
        font-size: 20px; 
        text-align: center;
    }
     #btn {
    margin-top: 20px;
    margin-bottom: 20px;
    }
      #dropdown-basic {
    margin-bottom: 20px;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    #img{text-align: center;}
    #Cruises{
        font-size: 35px;
    }
    #txt,#se,#btn,#xza{
        font-size: 20px; 
        text-align: center;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 

 }


@media (min-width: 1200px) { 

 }