#news{
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
   color: #ffffff;
   line-height: 200px;
 
}
#rr{
    background-color: #506173;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#keep{
    text-align: center;
    font-weight: 300;
    font-size:16px;
    line-height: 24px;
   color: #ffffff;
   font-family: 'Work Sans', sans-serif;
 
}
#inp{
    text-align: center;

}
#in{
    width: 350px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #F93D4E;
    
}
#bt{    border-radius: 3px;
    color: white;
    background-color: #F93D4E;
    border: none;
    outline: none;
    width: 130px;
    height: 55px;
}
#bt:hover{
    background-color: #007DFF;
  

}
@media (max-width: 575.98px) { 
    #inp,#in,#bt{
        text-align: center;
        margin-bottom: 10px;
    }
    #rr{
        height: 500px;
    }
#zf{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

 }
