#vr{
    background-color: #ffffff;
    height: 50%;
}
#eep{
    width: 100%;
    
}
#over{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size:45px;
    line-height: 64px;
   color: #151515;
   margin-top: 30px;
   margin-left: 30px;
}
#ato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#vv{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size:22px;
    line-height: 28px;
   color: #151515;
   margin-top: 30px;
   margin-left: 30px;
}
#ut{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size:16px;
    line-height: 24px;
   color: rgba(21, 21, 21, 0.7);
   margin-top: 30px;
   margin-left: 30px;  
}
#ours {  
    width: 230px;
    color: white;
    height: 55px;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: #e2071b;
}
#ours:hover{
  background-color:#007DFF;  
}
#mess{  
      font-weight: bold;
    width: 230px;
    height: 55px;
    background-color: white;
    color: black;
    border: 2px solid black;
}
#mess:hover ,#mmm:hover{
    background-color: #e2071b;
    color: white;
    border: none;
    outline: none;
}
#mmm{
    color:#007DFF;
    margin-right: 20px;
  font-size: 20px;
}

@media (max-width: 575.98px) { 
    #eep{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #ours,#mess{
        width: 177px;
        height: 45px;
        font-size: 16px;
    }
 }


@media (min-width: 576px) and (max-width: 767.98px) { }
@media  (max-width: 444px) { 
    #ours, #mess {
        margin-bottom: 10px;
        margin-left: 28%;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #mess{
        margin-top: 10px;
     }

 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    #mess{
       margin-top: 1px;
    }
 }


@media (min-width: 1200px) {  }