#sl{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size:16px;
    line-height: 20px;
   color: #151515;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#f93d4e ;
}
#lo{
    font-family: 'Work Sans', sans-serif;
    font-weight: 550;
    font-size:27px;
    line-height: 24px; 
    color:#f93d4e
}
#sh{
    color: rgb(37, 25, 25);
    background-color: #ffffff;
    border-color: #ffffff;
    border: none;
    outline: none;
}
#ld,#ld:hover{
    border: none;
    color: black;
    font-size: 18px;
    outline: none;
}
.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
    outline: none;
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);}
    .btn-outline-info {
        color: #ffffff;
        border-color: #ffffff;}
        .btn-outline-info:hover {
            color: #fff;
            background-color: #ffffff;
            border-color: #ffffff;
        }
        .btn-outline-info.focus, .btn-outline-info:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
        }
      